.App {
  background: url("https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg");
  background-position: center;
  background-size: cover;
}
.abc {
  border: 1px solid gray;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
  border-radius: 5px;
}

.labeltext {
  color: rgb(105, 101, 101);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}
.error {
  color: rgb(153, 14, 14);
  padding: 5px;
  font-size: 14px;
  display: none;
}
input:invalid[focused="true"] ~ .error {
  display: block;
}
input:invalid[focused="true"]{
  border: 1px solid rgb(156, 12, 12);
}
